<p style="color: green"><%= notice %></p>

<div class="flex flex-col gap-20">
  <section class="flex lg:flex-row md:flex-row md:justify-evenly items-center lg:justify-between sm:gap-10 sm:flex-col xsm:flex-col xsm:gap-10 py-[5.5rem]">
    <div class="flex flex-col lg:w-[30rem] md:w-[28rem] sm:w-full gap-6">
      <p class="text-[3.4rem] text-[#1e2740] font-extrabold font-montserrat leading-[4rem]">Hey, I'm Halim Shams</p>
      <p class="text-lg font-medium text-[#716f8a] font-montserrat leading-8">Develop, talks, and writes about web, advices, motivational, and personal. I share web dev tutorials, and free resources.</p>
      <div class="">
        <label for="subscribe" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Subscribe</label>
          <div class="relative">
          <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <svg class="w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path><path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path></svg>
          </div>
          <input type="email" id="subscribe" class="block w-full p-4 pl-10 text-sm text-gray-900 placeholder:font-normal placeholder:text-[#716f8a] bg-white border rounded-md outline-none border-orange-300/10 focus:ring-orange-400 focus:border-orange-400" placeholder="Subscribe here" required>
          <button type="submit" class="absolute px-4 py-2 text-sm font-medium text-white rounded-md bg-orange-400/90 right-2.5 bottom-2.5 hover:bg-orange-400 focus:ring-4 focus:outline-none focus:ring-orange-300">Get a new tip</button>
      </div>
      </div>
    </div>
    <div class="bg-white lg:w-[35rem] lg:h-[25rem] md:w-[30rem] md:h-[20rem] sm:w-full sm:h-[30rem] xsm:w-full xsm:h-[31rem] rounded-lg overflow-hidden">
      <img class='object-cover w-full h-full' src="https://i.ibb.co/Sf69fr2/php.jpg" alt="profile">
    </div>
  </section>

  <div class='py-4 grid xsm:grid-cols-1 sm:grid-cols-2 sm:gap-x-10 sm:gap-y-4 md:grid-cols-3 gap-6' id="posts">
    <% @posts.each do |post| %>
      <div class="max-w-full relative cursor-pointer transition-transform ease-in-out rounded-lg group hover:-translate-y-1">
        <div class="max-w-full bg-orange-500/10 max-h-full rounded-lg overflow-hidden">
          <p class='bg-white/40 backdrop-blur-sm top-4 left-4 absolute font-montserrat text-xs font-medium text-[#1e2740] inline rounded px-3 py-1' ><%= post.created_at.strftime("%d %B %Y") %></p>
          <img class="object-cover w-full h-full" src="https://flowbite.com/docs/images/blog/image-1.jpg" alt=<%= post.title %> />
        </div>
        <div class="py-6">
            <a href="#">
                <h5 class="mb-2 text-2xl font-bold text-[#1e2740] group-hover:underline"><%= post.title %></h5>
            </a>
            <p class="mb-3 text-base font-normal text-[#716f8a]"><%= post.body %></p>
        </div>
      </div>
    <% end %>

  </div>
</div>

