<!DOCTYPE html>
<html>
  <head>
    <title>SimpleBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/assets/application.js", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class='bg-yellow-200/10'>
    <nav class="mx-auto lg:max-w-[76rem] md:max-w-[66rem] sm:max-w-[52rem] xsm:max-w-[38rem] py-8 px-6 text-[#1e2740]">
      <div class="flex items-center justify-between">
        <div class="inline-block text-2xl font-extrabold text-transparent text-orage font-montserrat bg-gradient-to-tr from-orange-500/90 to-yellow-400/80 bg-clip-text">Orangello</div>
        <div class="flex gap-5 font-medium font-montserrat items-center">
          <p class="">Home</p>
          <p class="">About</p>
          <p class="">Contact</p>
          <%= link_to 'Write a Post', new_post_path, class:'px-4 py-2 text-sm font-medium text-white rounded-md bg-orange-400/90 hover:bg-orange-400 focus:ring-4 focus:outline-none focus:ring-orange-300' %>
        </div>
      </div>
    </nav>
    <main class="lg:max-w-[76rem] md:max-w-[66rem] sm:max-w-[50rem] xsm:max-w-[38rem] px-6 mx-auto">
      <%= yield %>
    </main>
  </body>
</html>
